<div>Add Workout</div>
<mat-form-field>
  <mat-label>Name</mat-label>
  <input matInput [(ngModel)]="userName" />
</mat-form-field>
<mat-form-field>
  <mat-label>Workout Type</mat-label>
  <!-- <mat-select>
    <mat-option value="one">Cycling</mat-option>
    <mat-option value="two">>Running</mat-option>
    <mat-option value="three">Swimming</mat-option>
    <mat-option value="four">Yoga</mat-option>
  </mat-select> -->

  <mat-select [(ngModel)]="workoutType" multiple>
    @for (topping of toppingList; track topping) {
    <mat-option [value]="topping">{{ topping }}</mat-option>
    }</mat-select
  >
</mat-form-field>
<mat-form-field>
  <mat-label>Duration(minutes)</mat-label>
  <input matInput [(ngModel)]="duration" />
</mat-form-field>
<button mat-button (click)="addworkout()">Add Workout</button>
